.excellent_about__h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2em;
    color: #626262;
}
.excellent_about__p {
    font-size: 20px;
    line-height: 1.2em;
    color: #262626;
    margin-bottom: 100px;
}
.advantages.fixed-container {
    margin-top: 0;
}
.excellent__about__party-slider {
    display: flex;
    justify-content: space-between;
}
.excellent__about__slider-title.section_title {
    margin-top: 50px;
}
.excellent__about__party-title.section_title {
    margin-top: 99px;
    margin-bottom: 37px;
}
.excellent_about__party {
    display: flex;
    justify-content: space-between;
}
.excellent_about__party-item {
    max-width: 23%;
}
#post-57 .entry-content {
    margin-bottom: 80px;
}