.main_wave {
    width: 100%;
    background-image: url(../img/wave1.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}

.main_offer{
    padding-top: 114px;
    justify-content: space-between;
}

.main_offer_picture {
    padding-left: 88px;
    padding-top: 128px;
    padding-right: 535px;
    margin-right: 15px;
    width: 1051px;
    height: 620px;
    background-image: url(../img/ofer1.jpg);
    background-repeat: no-repeat;
}

.main_offer_title {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: "Nunito";
    font-size: 70px;
    text-transform: uppercase;
    color: #ffffff;
}

.main_offer_subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    color: #ffffff;
}

.main_offer_brands {
    margin-bottom: 20px;
    width: 328px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.offer_brands_brand1 {
    width: 92px;
    height: 24px
}

.offer_brands_brand2 {
    width: 87px;
    height: 27px;
}

.offer_brands_brand3 {
    width: 95px;
    height: 62px;
}

.main_offer_link {
    padding: 20px 40px 20px 25px;
    font-weight: bold;
    font-size: 17px;
    width: 295px;
    text-transform: uppercase;
    background-image: url(../img/link.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-color: #A5E5FF;
    border-radius: 100px;
}

.main_offer_aside {
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_offer_aside__item {
    display: block;
    padding: 17px 22px 0;
    max-height: 300px;
    background-position: right bottom;
    background-size: cover;
}
.img_aside {
    height: 57%;
}
.main_offer_aside__img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.main_offer_aside_title {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Nunito";
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    max-height: 86px;
    overflow: hidden;
}

.main_offer_aside__item.first {
    background-image: url(../img/front-page-icon/blueFone.png);
}
.main_offer_aside__item.second {
    background-image: url(../img/front-page-icon/greenFone.png);
}

.main_offer_aside_desc {
    font-size: 15px;
    line-height: 112.9%;
    color: #ffffff;
}

.main_wave .advantages {
    margin: 0 auto;
    margin-bottom: 95px!important;
    
}
.advantages h2 {
    margin-top: 70px;
}
.section_title {
    margin: 0 30px 45px 0;
    font-family: "Nunito";
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}
.arrow_right {
    float: right;
    margin-top: -75px;
    width: 12px;
    height: 27px;
    background-image: url(../img/arrow2.svg);
    background-repeat: no-repeat;
    background-size: 98%;
}
.arrow_left {
    float: right;
    margin-top: -75px;
    margin-right: 30px;
    width: 12px;
    height: 27px;
    background-image: url(../img/arrow3.svg);
    background-repeat: no-repeat;
    background-size: 98%;
}

.advantages_list {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.advantages_item_img {
    margin-right: 30px;
    width: 78px;
    height: 77px;
}
.advantages_item_desc {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
}
.frame {
    align-items: flex-start;
}

.frames {
    margin-top: 100px;
}
.frame_hit {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background-color: #38CF8A;
    border-radius: 100px;
    color: #ffffff;
    line-height: 1.2em;
}

.frame_list {
    padding: 0;
    justify-content: space-between;
}

.swiper-slide.frame_item {
    padding-bottom: 35px;
    margin-bottom: 110px;
    height: 342px;
    text-align: center;
    box-shadow: 0px 4px 25px rgb(44 157 235 / 20%);
    border-radius: 3px;
    width: 341.25px; margin-right: 25px;
    position: relative;
}

.frame_item_img {
    margin: 0 auto;
    width: 256px;
    height: 192px;
    object-fit: cover;
}

.illustrations {
    margin-bottom: 74px;
    justify-content: space-between;
    
    .wooman_for_pc{
        width: 100%;
    }
}

.preview_title {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 256px;
    text-align: left;
}

.preview_price {
    padding-left: 40px;
    text-align: left;
    font-family: "Nunito";
    margin-top: 25px;
    font-size: 29px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.preview_price_item {
    font-weight: 700;
    font-size: 20px;
}

.service_link {
    font-size: 17px;
    font-weight: 600;
    color: #1584D6;
}

.service {
    position: relative;
    z-index: 500;
    padding-top: 85px;
    width: 100%;
    background-image: url(../img/service.svg);
    background-repeat: no-repeat;
    background-position: center right 85px;
   
}

.slaider2 {
    background-image: url(../img/servic2.png);
    background-repeat: no-repeat;
    background-position: center right 85px;
}

.slaider3 {
    background-image: url(../img/servic3.png);
    background-repeat: no-repeat;
    background-position: center right 85px;
}

.service_slider_desc {
    margin-right: 140px;
    width: 732px;
}

.service_numbers {
    width: 732px;
    height: 119px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(44, 157, 235, 0.1);
    border-radius: 3px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
}
.service_numbers__item {
    display: flex;
    align-items: center;
    flex-grow: 2;
}
.mini {
    flex-grow: 1;
}
.service_numbers_title {
    font-family: "Nunito";
    font-size: 35px;
    font-weight: 700;
    color: #38CF8A;
    margin-right: 10px;
}
.service_numbers_desc {
    font-family: "Nunito";
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

.news_index {
    padding-top: 260px;
    padding-bottom: 50px;
    margin-top: -100px;
    background-color: #EBF2F8;
}

.news_item_img {
    margin: 0 auto;
    width: 425px;
    height: 359px;
    object-fit: cover;
}

.news_list {
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.news_item {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 464px;
    height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(44, 157, 235, 0.1);
    border-radius: 5px;
    font-family: "Nunito";
    text-align: center;
}

.news_item_title {
    padding-left: 40px;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

.news_item_day {
    padding-left: 40px;
    font-size: 15px;
    text-align: left;
    color: #787878;  
}

.contact {
    padding-top: 113px;
    justify-content: space-between;
    align-items: center;
}

.contact_content {
    padding-left: 180px;
}

.contact_list {
    padding: 0;
    font-size: 25px;
    line-height: 28px;
    font-weight: 400;
}

.contact_item_operating {
    padding-left: 60px;
    margin-bottom: 55px;
    background-image: url(../img/contact1.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.contact_item_adress {
    padding-left: 60px;
    margin-bottom: 55px;
    background-image: url(../img/contact2.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.contact_item_tel {
    padding: 3px 0 3px 60px;
    margin-bottom: 55px;
    background-image: url(../img/contact3.svg);
    background-repeat: no-repeat;
    background-position: left;
    font-weight: 600;
}

.contact_item_mail {
    padding-left: 60px;
    margin-bottom: 55px;
    background-image: url(../img/contact4.svg);
    background-repeat: no-repeat;
    background-position: left;
}

/*внутренние страницы*/
.breadcrumbs {
    padding-top: 92px;
    /* height: 134px; */
    background-color: #EDF4FA;
}

.breadcrumbs_item {
    font-size: 15px;
    color: #727272;
}

.main_page {
    padding-top: 68px;
}

.page_section {
    margin-bottom: 100px;
}


/*карточка товара*/

.card_imgsmall {
    padding-top: 20px;
    margin-right: 20px;
    width: 163px;
    height: 125px;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 3px;
    border: 1px solid #CFCFCF;
    text-align: center;
}

.card_imgsmall img {
    width: 114px;
    height: 95;
    object-fit: cover;
}

.card_img {
    width: 610px;
    height: 451px;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 3px;
    border: 1px solid #CFCFCF;
    text-align: center;
}

.card_img img {
    margin:0 auto;
    width: 500px;
    height: 419px;
    object-fit: cover;
}

.woocommerce-product-gallery {
    margin:0 auto;
    width: 500px;
    height: 419px;
}


.card_title {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

.card_info {
    text-align: left;
}

.card_options {
    text-align: left;    
}

.card_options_table {
    margin-bottom: 30px;
    /* width: 586px;
    height: 56px; */
}

.card_table_item_dis {
    color: #949494;
    background: rgb(230, 230, 230);
}
.card_table_item {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 293px;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-radius: 3px 0px 0px 3px;
}
.reset_variations {
    margin-left: 30px;
}

.card_options_title {
    font-size: 20px;
    font-weight: 600;
}

.card_options_item {
    justify-content: space-between;
    align-items: center;
}

.label {
    font-size: 17px;
    color: #616161;
    line-height: 19px;
}

.quantity input {
    padding: 10px;
    font-size: 25px;  
    text-align: center;  
    border: 0;
    width: 2em!important;
}

.card_options_price {
    padding-top: 50px;
    font-size: 25px; 
    font-weight: 600;
    text-align: center; 
}

.card_options_total {
    /* padding-top: 10px; */
    margin-top: 45px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D0D0D0;
}
.card_options_smalltext {
    color: #aaa;
    font-size: 12px;
}
.card_options_total_number {
    font-size: 30px;
    font-weight: 700;
}

.rub {
    font-size: 15px;
    font-weight: 400;
}

.card_button {
    padding: 20px 60px 20px 110px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1584D6;
    border-radius: 100px;
    border: none;
    background-image: url(../img/basket2.svg);
    background-repeat: no-repeat;
    background-position: center left 60px;
    color: #ffffff;
}

.card_info {
    padding-top: 40px;
    font-size: 17px;    
}

.card_info_item {
    margin-right: 40px;
}

.card_info_options1 {
    margin-right: 20px;
    color: #616161;
}

.card_info_options2 {
    font-weight: 700;
}

.card_desc {
    margin-bottom: 136px;
}

/*типы линз*/

.tip {
    padding: 45px 70px;
    margin-bottom: 45px;
    align-items: center;
    font-size: 25px;
    line-height: 28px;
    box-shadow: 0px 4px 25px rgba(44, 157, 235, 0.2);
    border-radius: 3px;
}

.tip_img {
    margin-right: 70px;
    width: 200px;
    height: 200px;
}

.tip_title {
    font-size: 30px;
    font-weight: 700;
}

.tip_link {
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
    color: #1584D6;    
}

.subtitle_italic {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    color: #626262;
}
/*о нас*/

.staff_item {
    margin-right: 30px;
    width: 125px;
    height: 110px;
    text-align: right;
    background-image: url(../img/people1.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.staff_desc {
    width: 205px;
}

.staff_desc_text {
    font-size: 15px;
    line-height: 17px;
}

.news_big {
    margin-bottom: 100px;
    width: 700px;
    height: 894px;
    box-shadow: 0px 0px 25px rgba(44, 157, 235, 0.25);
    border-radius: 5px;
}

.news_big_img {
    margin-bottom: 30px;
    width: 700px;
    height: 570px;
    object-fit: cover;

}

.news_desc {
    width: 595px;
    margin: 0 auto;
    text-align: left;
}

.news_desc_day {
    font-size: 15px;
    color: #787878;
}

.news_desc_title {
    padding-left: 0;
    margin-left: 0;
    font-size: 25px;
    font-weight: 600;
}

.news_large {
    margin-bottom: 100px;
    width: 700px;
    height: 620px;
    box-shadow: 0px 0px 25px rgba(44, 157, 235, 0.25);
    border-radius: 5px;
}

.news_large_img {
    width: 700px;
    height: 309px;
    object-fit: cover;
}

.news_small {
    margin-bottom: 100px;
}

.news_small_item {
    width: 700px;
    height: 277px;
    box-shadow: 0px 0px 25px rgba(44, 157, 235, 0.25);
    border-radius: 5px;
}

.news_small_item:first-child {
    margin-bottom: 60px;
}

.news_small_img {
    margin-right: 30px;
    width: 238px;
    height: 277px;
    object-fit: cover;
}

.news_small_desc {
    padding-top: 30px;
}

.frame_card {
    margin-right: 60px;
    margin-bottom: 100px;
}

.bascet_list {
    margin-bottom: 100px;
    margin-right: 60px;
}

.bascet_list_item {
    padding: 35px 0;
    justify-content: space-between;
    width: 1005px;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
}

.bascet_item_title {
    padding: 0;
    margin: 0;
    width: 269px;
    font-family: "Nunito";
    font-size: 25px;
    line-height: 28px;
}

.bascet_delet {
    width: 26px;
    height: 26px;
}

.bascet_price {
    font-size: 30px;
    font-weight: 700;
}

.bascet_arrange {
    padding: 30px;
    width: 366px;
    height: 255px;
    box-shadow: 0px 4px 25px rgba(44, 157, 235, 0.2);
    border-radius: 3px
}

.bascet_arrange_namber {
    padding: 0 5px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    font-size: 14px;
    background-color: #EBF2F8;
    color: #727272;
}

.bascet_arrange_total {
    margin-bottom: 30px;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
}

.bascet_button {
    padding: 20px 0;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: #1584D6;
    border-radius: 100px;
    border: none;
    color: #ffffff;
}




/* добавленые стили */
/* shop-no-shop */

.orderby {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
}

/* Записи - типо товары card-no-card */
.frames__text-new {
    padding-left: 30px;
}
.no-product__price {
    font-weight: bold;
    font-size: 25px;
    line-height: 112.9%;
    display: block;
    margin-bottom: 20px;
}
.no-product__price .num {
    font-size: 50px;
    display: inline;
}

/* сингл продукт */
.single_product_title {
    margin-bottom: 6px;
}
.product_meta {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #616161;
    margin-bottom: 32px;
}
.single_page_flex {
    justify-content: flex-start;
}
.single_page_flex .card_options {
    margin-left: 63px;
}
.product-options {
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.product-options__item {
    min-width: 40%;
    max-width: 40%;
    margin-bottom: 15px;
}
.product-options__item .label {
    margin-bottom: 14px;
}
.product-options__item .value select {
    padding: 10px;
    background: #fff;
    font-size: 25px;
    text-align: center;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.product-quantitu .quantity {
    /* display: inline-flex; */
    margin-right: 30px;
}
.woocommerce-Price-amount {
    display: inline-block;
    margin-left: 5px;
}
.card_options_total {
    padding-top: 32px;
    padding-bottom: 45px;
}
.card_options_smalltext {
    margin: 0;
    max-width: 50%;
}
.single_add_to_cart_button {
    padding: 21px 65px;
    text-transform: uppercase;
    background-color: #1584D6;
    border-radius: 100px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 17px;
    line-height: 112.9%;
}
.single_add_to_cart_button.disabled {
    cursor: not-allowed;
    background-color: #67b2e7;
}

.product-options__item option {
    font-size: 14px;
    color: #626262;
}

.woocommerce-product-details__short-description p {
    display: none;
}
.woocommerce-product-details__short-description table {
    margin-top: 30px;
    border: none!important;
}
.woocommerce-product-details__short-description td {
    border: none!important;
}
.woocommerce-product-details__title {
    margin-top: 65px;
    font-weight: bold;
    font-size: 25px;
    line-height: 112.9%;
    color: #262626;
}
.woocommerce-Tabs-panel h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 112.9%;
    color: #262626;
    margin-bottom: 26px;
}
.product .woocommerce-tabs {
    margin-top: 65px;
    /* margin-bottom: 60px; */
}
.product .woocommerce-tabs .tab-description {
    font-weight: normal;
    font-size: 17px;
    line-height: 112.9%;
    color: #262626;
}
.product .related.products>h2{
    font-family: Nunito;
    font-weight: bold;
    font-size: 40px;
    line-height: 112.9%;
    color: #262626
}
.product .related.products>h2{
    font-family: Nunito;
    font-weight: bold;
    font-size: 40px;
    line-height: 112.9%;
    color: #262626
}
.product .related.products .frame_hit{
    margin-left: 23px;
    margin-top: 19px;
}

/* СТРАНИЦА - page.php */

.main_wrapper .entry-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 112.9%;
}

/* CART - корзина */

.woocommerce table.shop_table {
    border: none;
}
.cart__flex-wrapper {
    display: flex;
    margin-top: 70px;
}

.quantity__inp-wrap {
    width: max-content;
    font-size: 25px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
}
.quantity__up, .quantity__dn {
    text-align: center;
    width: 1em;
    padding: 10px;
    font-size: 25px;
    line-height: 112.9%;
    cursor: pointer;
}
.quantity__up:hover, .quantity__dn:hover {
    background: rgb(240, 240, 240);
}
.woocommerce-cart-form {
    min-width: 70%;
}
.woocommerce-cart-form__cart-item .product-thumbnail {
    width: 14.2%;
}
.woocommerce-cart-form__cart-item .product-name {
    width: 47.5%;
}
.woocommerce-cart-form__cart-item .product-price {
    width: 19.5%;
}
.woocommerce-cart-form__cart-item .product-quantity{
    widows: 22.8%;
}
/* .woocommerce-cart-form__cart-item .product-price {
    width: 15%;
} */

.woocommerce-cart-form__cart-item .product-name {
    font-family: Nunito;
    font-weight: bold;
    font-size: 25px;
    line-height: 112.9%;
    color: #262626;
}
.woocommerce td.product-name dl.variation p {
    margin-top: 0!important;
}

.woocommerce .cart-collaterals .cart_totals {
    float: unset!important;
    width: unset;
}
.woocommerce-shipping-totals.shipping {
    display: none;
}
.cart_totals__title {
    margin-top: 0!important;
}
.woocommerce .cart-collaterals {
    margin-left: 70px;
    margin-top: -50px;
    padding: 50px 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(44, 157, 235, 0.2);
    border-radius: 3px;
}
.woocommerce .cart-collaterals {
    margin-bottom: 150px;
}

.woocommerce table.shop_table tbody:first-child tr.cart-subtotal {
    background: #EBF2F8;
    border-radius: 3px;
}
.woocommerce table.shop_table tbody:first-child tr td {
    text-align: right;
}
.woocommerce table.shop_table tbody:first-child tr:first-child th {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 112.9%;
    color: #727272;
}
.woocommerce a.button.alt {
    display: block;
    background-color: #1584D6;
    border-radius: 100px;
    width: auto;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 112.9%;
    color: #FFFFFF;
}
.woocommerce a.button.alt:hover {
    background-color: #52a7e4;
}
.woocommerce button.button.alt {
    display: block;
    background-color: #1584D6;
    border-radius: 100px;
    width: auto;
    text-align: center;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 112.9%;
    color: #FFFFFF;
}
.woocommerce button.button.alt:hover {
    background-color: #52a7e4;
}

/*СЛАЙДЕР*/

/*slaider*/

.swiper-container {
    width: 1440px;  
    height: 150px;
    
}

.swiper-container1 {
    position: relative;
    width: 1440px;
    overflow: hidden;
    
}

.swiper-container2 {
    width: 1440px;
    overflow: hidden;
}
.slider-start2 {
    padding-left: 25px;
    padding-top: 25px;
}

.slaider-header {
    justify-content: space-between;
    align-items: center;
}

.card {
    padding-right: 20px;
    min-height: 78px;
    color: rgb(29, 26, 26);
    font-size: 16px;
}
.swiper-container .card{
    padding-right: 0;
}


.frame_item {
    padding-bottom: 35px;
    margin-bottom: 110px;    
    width: 190px;
    height: 342px;
    text-align: center;
    box-shadow: 0px 4px 25px rgba(44, 157, 235, 0.2);
    border-radius: 3px;
}

.slider-container {
    position: relative;
    margin: 0;    
}


.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev1,
.swiper-button-next1,
.swiper-button-prev2,
.swiper-button-next2 {
    position: static !important;
    float: right;     
    cursor: pointer;
    padding: 0;
    width: 40px;
    height:10px;
    background-color: transparent;
    border: none;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after,
.swiper-button-prev1::after,
.swiper-button-next1::after,
.swiper-button-prev2::after,
.swiper-button-next2::after {
    display: none;
}

.swiper-button-prev, .swiper-button-prev1, .swiper-button-prev2 {
    background-image: url(../img/arrow3.svg);
}

.swiper-button-next, .swiper-button-next1, .swiper-button-next2 {
    background-image: url(../img/arrow2.svg);
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.slider-buttons { 
    display: flex;
    align-items: center;
}


/* swiper-bullets styling */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 15px;
    background-color: tomato;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: navy;
}

.frame_item_look {
    position: absolute;
    z-index: 500;
    padding-top: 150px;
    top: 25px;
    right: 0;
    width: 317px;
    height: 382px;
    background: #EBF2F8;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #1584D6;
}

.service_slider_img {
    width: 512px;
    height: 392px;
    object-fit: cover;
}

/* Оформление заказа */
.checkout__duble-wrap{
    display: flex;
    justify-content: space-between;
}

.woocommerce #customer_details {
    width: 60%;
    padding-right: 120px;
}
.woocommerce-checkout-review-order{
    width: 30%;
}
.form-row-first {
    min-width: 47%!important;
}
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.woocommerce .woocommerce-additional-fields h3 {
    display: none;
    max-height: 1px!important;
}
.woocommerce-checkout-review-order-table thead {
    display: none;
}
.woocommerce .woocommerce-checkout-review-order .cart-collaterals {
    width: auto;
    margin: 0;
}
.woocommerce-checkout-payment {
    margin: 50px auto;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: unset;
    margin-top: 40px;
    font-size: 20px;
}


/* О НАС */
.excellent_about__body {
    display: flex;
    justify-content: space-between;
}
.excellent__about__party-slider {
    display: flex;
}
.excellent_about__item {
    width: 14%;
}

/* Главная рестилизация */
.swiper-wrapper {
    height: auto;
}

/* singl-news */
.single__news {
    font-family: Nunito;
    font-weight: 400;
}
.single__news .entry-title{
    line-height: 1.2em;
}
.single__news .post-text-content {
    font-family: Open Sans;
    flex-direction: column;
}
.new-content__wrap .post-thumbnail {
    height: 516px;
    float: left;
    padding: 30px;
}
.attachment-post-thumbnail {
    width: auto;
    height: 100%;
}
.single__news .entry-meta {
    display: none;
}
.navigation.post-navigation .nav-links{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 60px;
    line-height: 1.8em;
}
.navigation.post-navigation .nav-links .nav-previous,
.navigation.post-navigation .nav-links .nav-next {
    display: block;
    font-size: 20px;
    font-weight: bold;
    max-width: 30%;
}
.navigation.post-navigation .nav-links .nav-subtitle,
.navigation.post-navigation .nav-links .nav-subtitle {
    display: none;
}

/* ТИПЫ - БРЭНДЫ ЛИНЗ */
.type-lens-items, .brands-items {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(44, 157, 235, 0.2);
    border-radius: 3px;
    padding: 57px 68px;
    display: flex;
    margin-bottom: 44px;
}
.type-lens-items img, .brands-items img {
    min-width: 200px;
    height: auto;
}
.type-lens-items {
    flex-direction: row-reverse;
}
.type-lens-text {
    padding-left: 40px;
}
.brands-items :last-child {
    margin-top: -20px;
    padding-left: 40px;
}
.filter_with_label{
    .bapf_body {
        ul {
            display: flex;
            flex-wrap: wrap;
            label {
                width: 160px;
                height: 105px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                border: 1px solid #CFCFCF;
                box-sizing: border-box;
                margin: 0;
                .bapf_img_span{
                    border: none;
                    width: 150px;
                    height: 92px;
                    background-size: contain!important;
                }
            }
        }
    }
    .bapf_head{display: none;}
    .bapf_ckbox{
        margin-top: 0;
    }
}

// Некие общие стили
.linz_list {
    padding: 0;
    margin: 10px 0 50px 0;    
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}


@media screen and (max-width: 1445px) {
    .main_offer{
        padding-top: 105px;
        .main_offer_picture{
            width: 819px;
            padding-left: 55px;
            padding-top: 56px;
            padding-right: 420px;
            background-size: cover;
            background-position: bottom;
        }
        .main_offer_brands {
            margin-bottom: 66px;
            margin-top: 72px;
        }
    }
    .swiper-container{
        width: 1200px;
        .advantages_item_img {
            margin-right: 15px;
            width: 60px;
            height: 59px;
        }
    }
    .swiper-container2{
        width: 1200px;
        .advantages_item_img {
            margin-right: 15px;
            width: 60px;
            height: 59px;
        }
    }
    .frames {
        margin-top: 50px;
        .swiper-container1{
            width: 1200px;
        }
        .slider-start2{
            padding-left: 12px;
        }
        .frame_item_look{
            width: 282px;
        }
    }
    .full-image{
        .illustrations{
            margin-bottom: 0;
            .wooman_for_pc{
                width: 100%;
            }
        }
    }
   
    .news_item {
        padding-top: 0;
        width: 375px;
        height: 586px;

        .news_item_img{
            width: 100%;
            height: auto;
        }
    }
    .contacts-main{
        .contact{
            img{
                max-width: 45%;
            }
            .contact_content{
                .section_title{
                    font-size: 30px;
                }
                .contact_list{
                    font-size: 18px;
                }
            }
        }
    }
    
}
