@media screen and (max-width: 420px) {
    .post-363 .entry-title,
    .post-365 .entry-title{
        font-size: 22px;
        margin-bottom: 5px;
    }
    .type-lens-items{
        flex-direction: column-reverse;
        padding: 20px;
        align-items: center;
        margin-top: 100px;

        .type-lens-text{
            padding-left: 0;
            margin-top: 0;
            font-size: 14px;
        }
        .type-lens-img {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -99px;
            border-radius: 100%;
            overflow: hidden;
            background: #000;
            width: 200px;
            height: 200px;
            border: none;

            img {
                display: block;
                width: auto;
                height: 100%;
            }
        }
    }
    .brands-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin-top: 100px;

        :last-child{
            margin-top: 0;
            padding-left: 0;
            text-align: left;
        }
        .brands__item img {
            display: block;
            margin-top: -50px;
        }
        .brands__item p {
            font-size: 14px;
        }
        
    }
}
