@media screen and (max-width: 600px) {
    .entry-title{
        font-size: 1.3em;
    }
    .news-section__item{
        max-width: 100%;
    }
    .news-section__image{
        width: 100%;
        height: auto;
    }
    .news-wrapper-page{
        padding-top: 0;

    }
    .news-section__text-wrap{
        padding: 10px;
        padding-top: 0;
    }
    .news-section__title{
        font-size: 18px;
    }
    .news-section__text {
        font-size: 16px;
    }
    .news-section__link {
        font-size: 14px;
        margin-top: 10px;
    }
    .news-section__colomn-duble{
        justify-content: start;
        min-height: auto;
        max-height: none;
        height: fit-content;
        margin-bottom: 30px;
        
        .news-section__item-mini{
            width: 100%;
            flex-direction: column;
            margin-bottom: 40px;
        }
        .news-section__item-mini .news-section__image{
            display: block;
            max-width: 100%;
            width: 100%;
            height: auto;
        }
        .mb-40{
            margin-bottom: 0;
        }
    }
}
