@media screen and (max-width: 600px) {
  .single_page_flex {
    flex-direction: column;
  }
  .single_page_flex .card_options {
    margin-left: 0;
  }
  .single_page_flex .card_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .single_page_flex .product-options {
    justify-content: space-between;
  }
  .single_page_flex .product-options .product-options__item {
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 0;
  }
  .single_page_flex .product-options .product-options__item select {
    font-size: 16px;
  }
  .single_page_flex .product-options .product-options__item label {
    font-size: 14px;
  }
  .single_page_flex .product-quantitu input {
    font-size: 18px;
  }
  .single_page_flex .product-quantitu .quantity__up, .single_page_flex .product-quantitu .quantity__dn {
    font-size: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .single_page_flex .card_options_total {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .single_page_flex .card_options_smalltext {
    max-width: 100%;
    text-align: center;
  }
  .single_page_flex .card_options_total_number {
    display: flex;
    align-items: baseline;
  }
  .single_page_flex .card_options_total_number span {
    display: block;
    margin-right: 10px;
  }
  .single_page_flex .single_add_to_cart_button {
    width: 100%;
    margin-bottom: 20px;
  }

  .woocommerce-product-gallery {
    width: 100%;
    height: 330px;
  }

  .main_page {
    padding-top: 24px;
  }

  .product_meta {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .woocommerce-product-gallery__wrapper {
    margin: 0;
  }

  figure {
    margin: 0 auto !important;
  }

  .card_img {
    width: 300px;
    height: auto;
    margin: 0 auto;
  }
  .card_img img {
    width: 100%;
    height: 330px;
    display: block;
    margin: 0 auto;
  }

  .woocommerce-product-details__short-description {
    display: none;
  }

  .woocommerce-Tabs-panel--description {
    font-size: 14px;
  }

  .related.products h2 {
    font-size: 20px;
  }
  .related.products .linz_item {
    width: 48%;
  }
  .related.products .linz_item .linz_item_footer {
    width: auto;
  }
  .related.products .linz_item .add_to_cart_button {
    padding: 5px 20px;
  }
}