html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    z-index: 0;
    margin: 0; 
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    font-size: 20px;
    line-height:28px;
    color: #262626;
    

}

body.modal-activ {
    overflow: hidden;
}
/* body.litle{
    zoom: 0.8;
    zoom: 80%;
    -moz-zoom: 80%;
} */
img {
    max-width: 100%;
} 

a {
    text-decoration: none;
    color: inherit;
} 

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /*IE6 IE7*/
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} /*правило для скрытых заголовков*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} /*правило, исправляющее погрешности float: left;*/

.fixed-container {
    width: 1440px;
    margin: 0 auto;	
 }
.flex {
    display: flex;
}
.dislpay-none {
    display: none;
}
ul {
   list-style: none; 
}
